
<div class="login-form">
  <div class="header" id="login-form-header">
    <span id="header-title">
      <img src="/success_green.png" id="header-icon">
      Todo
    </span>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :이메일 %>
      
      <div class="field-input">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

    </div>

    <div class="field">
      <div>
      <%= f.label :비밀번호 %>
      </div>

      <div class="field-input">
      <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "로그인", class: 'btn btn-default' %>
    </div>
  <% end %>


  <div class="field-input">
  <%= render "users/shared/links" %>
  </div>
</div>