<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :제목 %>
    <div class="field-input">
    <%= form.text_field :title %>
    </div>
  </div>

  <div class="field">
    <%= form.label :내용 %>
    <div class="field-input">
    <%= form.text_area :content %>
    </div>
  </div>

  <div class="field">
    <%= form.fields_for :due do |due_form| %>
      <div class="field-input">
      <%= form.label :'마감기간 입력하기', id: 'expiration', class: 'btn btn-default' %>
      </div>
      <div class="field-input" id="expiration-input">
        <%= due_form.date_field :dueDate %>
      </div>  
    <% end %>  
  </div>

  <div class="actions">
    <%= form.submit "완료", class: 'btn btn-default' %>
  </div>
<% end %>


