<div class="header">
  <span id="header-title">
    <img src="/success_green.png" id="header-icon">
    Todo
  </span>

  <span id="header-login">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
    <% end %>
  </span>
</div>






<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="todolist">
        <h1>할 일</h1>
        <table>
          <tbody class="sortable">
            <% @works.each do |work| %>
              <% if !work.due || work.due.dueDate >= Time.zone.today %>
              <tr id="<%= work.sortable_id%>">
                <td>
                <%= link_to work_path(work) do %>
                  <% if work.completion == false %>
                    <div id="work-<%=work.id%>">
                      <%= work.title %>
                      </div>
                  <% else %>
                    <del><%= work.title %></del>
                  <% end %>
                <% end %>
                </td>
                <td>
                  <% if work.due %>
                    <%= work.due.dueDate %>
                  <% end %>
                </td>
                <td>
                  <%= link_to completion_work_path(work), method: :patch, remote: true, class: 'visible-sm visible-md visible-lg' do %>
                    <img src="/success_green.png" class="success_icon">
                  <% end %>
                </td>
                <td>
                  <%= link_to work, method: :delete, class: 'visible-sm visible-md visible-lg' do %>
                    <img src="/close_button.png" class="close_icon">
                  <% end %>    
                </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class='add'>
        <%= link_to new_work_path do %>
          <img src="/add_button.png" class="add_icon">
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="todolist expired">
        <h1>마감기한이 지난 일</h1>
        <table>
          <tbody>
            <% @expiredWorks.each do |work| %>
              <tr>
                <td>
                  <% if work.completion == false %>
                    <div id="work-<%=work.id%>">
                      <%= work.title %>
                      </div>
                  <% else %>
                    <del><%= work.title %></del>
                  <% end %>
                </td>
                <td>
                  <% if work.due %>
                    <%= work.due.dueDate %>
                  <% end %>
                </td>
                <td>
                  <%= link_to completion_work_path(work), method: :patch, remote: true, class: 'visible-sm visible-md visible-lg' do %>
                    <img src="/success_green.png" class="success_icon">
                  <% end %>
                </td>
                <td>
                  <%= link_to work, method: :delete, class: 'visible-sm visible-md visible-lg' do %>
                    <img src="/close_button.png" class="close_icon">
                  <% end %>    
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">



$(function() {
  $('.sortable').railsSortable();
});


</script>