<h1>할 일</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th>Completion</th>
      <th>마감기한</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <% if !work.due || work.due.dueDate >= Time.zone.now %>
      <tr>
        <td><%= work.user_id %></td>
        <td>
          <% if work.completion == false %>
            <div id="work-<%=work.id%>">
              <%= work.title %>
              </div>
          <% else %>
            <del><%= work.title %></del>
          <% end %>
        </td>
        <td><%= work.content %></td>
        <td><%= work.completion %></td>
        <td>
          <% if work.due %>
            <%= work.due.dueDate %>
          <% end %>
        </td>
        <td><%= link_to '보기', work %></td>
        <td><%= link_to '수정', edit_work_path(work) %></td>
        <td><%= link_to '완료', completion_work_path(work), method: :patch, remote: true %></td>
        <td><%= link_to '삭제', work, method: :delete, data: { confirm: '삭제하시겠어요?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to '추가하기', new_work_path %>
</div>

<br>

<h1>마감기한이 지난 일</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th>Completion</th>
      <th>마감기한</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @expiredWorks.each do |work| %>
      <tr>
        <td><%= work.user_id %></td>
        <td>
          <% if work.completion == false %>
            <div id="work-<%=work.id%>">
              <%= work.title %>
              </div>
          <% else %>
            <del><%= work.title %></del>
          <% end %>
        </td>
        <td><%= work.content %></td>
        <td><%= work.completion %></td>
        <td>
          <% if work.due %>
            <%= work.due.dueDate %>
          <% end %>
        </td>
        <td><%= link_to '보기', work %></td>
        <td><%= link_to '수정', edit_work_path(work) %></td>
        <td><%= link_to '완료', completion_work_path(work), method: :patch, remote: true %></td>
        <td><%= link_to '삭제', work, method: :delete, data: { confirm: '삭제하시겠어요?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>