<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @work.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @work.content %>
</p>

<p>
  <strong>Completion:</strong>
  <%= @work.completion %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
