<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !user_signed_in? %>
  <% else %>
    <%= current_user.email %>
    <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
  <% end %>
    <%= yield %>

  </body>
</html>
